* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
	grid-template-area: "a"
									"b"
									"c";
	grid-template-rows: 50vh 50vh 50vh;
	grid-template-columns: minmax(min-content, 1200px);
	
	
	justify-content: center;
	
  
	
}

.a, .b, .c {
    border: 3px solid transparent;
	min-height: 50px;
   

    display: flex;
    justify-content: center;
    align-items: center;
}

.a {
    border-color: #ffffba;

}

.b {
    border-color: #ffdfba;
}

.c {
    border-color: #baffc9;
	order: 1;
}

@media (max-width: 599px) {

    body {
        grid-template: repeat(2, 50vh) / 1fr 1fr;
    }

    .a {
        grid-column: 1 / span 2;
    }

    .c {
        order: inherit;
    }
.


