* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
}

.p, .t, .v {
    border: 3px solid transparent;
    min-height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.p {
    border-color: #ffffba
}

.t {
    border-color: #ffdfba;
}

.v {
    border-color: #baffc9;
}


@media (max-width: 599px) {

    body {
        display: grid;
        grid-template: repeat(2, 50vh) / 1fr 1fr;
    }

    .p {
        order: -1;
    }

    .t {
        order: 2;
    }